// main.styl
@import '~vuetify/src/stylus/main'

.main-sidebar
    .list__tile
        height: 30px !important

table.table
    tbody
        td, th
            height: 30px !important
            padding: 0px 5px 0px 5px !important
        // td, th
        //     height: 28px !important
        //     padding: 2px 5px 2px 5px !important
        //     vertical-align: top !important
        //     .checkbox
        //         .input-group__input
        //             min-height: 24px !important
        //         .icon--selection-control
        //             height: 24px !important

table.table thead tr:not(.datatable__progress)
    height: 30px
    th 
        padding-left: 5px !important
        padding-right: 5px !important
    
.item-elements-list a 
    height: 30px !important
  
button.xs
    width: 25px !important
    height: 25px !important
    margin: 0 !important
    margin-right: 5px !important
    >div
        padding: 3px !important
        >i
            height: 12px !important
            width: 12px !important
            line-height: 12px !important

.comment-content > p
    margin-bottom: 0

.ql-tooltip
    left: 50% !important
    transform:translateX(-50%) !important
    white-space: normal !important

.datatable p
    margin: 0px

.cell-nowrap
    white-space: nowrap !important

.children-tabs .tabs__items
    max-height:calc(100vh - 150px)
    overflow-y: auto
    > .tabs__content > .card--flat > .card__text
        padding: 0

.table-controls
    padding: 0 !important

.main-card
    background-color: #f2f2f2 !important

.filter-column-input
    padding: 0 !important