.main-card
    background-color: #f2f2f2 !important
    
.item-elements-list a 
    height: 30px !important

.comment-content > p
    margin-bottom: 0

.cell-nowrap
    white-space: nowrap !important

.children-tabs .v-window
    max-height:calc(100vh - 150px)
    overflow-y: auto
    .v-window-item > .v-card--flat > .v-card__text
        padding: 0

.filter-column-input
    padding: 0 !important

.editor .ProseMirror
    padding: 10px !important

.crud-label
    margin: 1px
    padding: 1px 4px 1px 4px
    background-color: #ccc
    border-radius: 5px
    display: inline-block

.v-treeview-node__root
    margin-top: 5px
    border: 1px solid #ccc

.v-treeview > .v-treeview-node.v-treeview-node--leaf
    margin-left: 0
    > .v-treeview-node__root
        padding-left: 24px
