.main-sidebar
    .link
        .v-list__tile
            height: 30px !important
            
.main-card
    background-color: #f2f2f2 !important

.table-controls
    padding: 0 !important
    
table.v-table
    td, th
        box-shadow: 1px 0px 0px 0px #eee
    tbody
        tr
            cursor:pointer !important
            &.row-active
                // box-shadow:4px -1px 0px 0px rgb(76, 175, 80) inset
            &.row-inactive
                color: rgb(244, 67, 54)
                box-shadow:4px 0px 0px 0px rgb(244, 67, 54) inset
            td, th
                height: 30px !important
                padding: 0px 5px 0px 5px !important

table.v-table thead tr:not(.v-datatable__progress)
    height: 30px
    th 
        padding-left: 5px !important
        padding-right: 5px !important
    
.item-elements-list a 
    height: 30px !important
  
button.xs
    width: 25px !important
    height: 25px !important
    margin: 0 !important
    margin-right: 5px !important
    >div
        padding: 3px !important
        >i
            height: 12px !important
            width: 12px !important
            line-height: 12px !important

.comment-content > p
    margin-bottom: 0

.ql-tooltip
    left: 50% !important
    transform:translateX(-50%) !important
    white-space: normal !important

.datatable p
    margin: 0px

.cell-nowrap
    white-space: nowrap !important

.children-tabs .v-window
    max-height:calc(100vh - 150px)
    overflow-y: auto
    .v-window-item > .v-card--flat > .v-card__text
        padding: 0


.filter-column-input
    padding: 0 !important